/* Try different box model properties below */
.pages__page {
  border: 1px solid blue;
  border-radius: 4px;
  background: #fff;
}
.countries {
  background-color: white;
  padding: 10px;
  border: 3px;
}
.country {
  background-color: whitesmoke;
  padding: 5px;
  border: 10px solid rgb(213, 214, 214);
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px;
}
